* { box-sizing: border-box; }

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.2;
}

.home-wrapper {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('../images/background.jpg') no-repeat center top;
	background-size: cover;
	color: white;
}

header {
	position: fixed;
	padding: 30px 0;
	width: 100%;
	background-color: rgba(48, 48, 48, 0.5);
}

header img {
	width: 200px;
}

header nav {
	float: right;
	margin-top: 10px;

}

header nav a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin-left: 10px;
	padding: 10px 15px;
}

header nav a.active {
	background: #a6acaf;
	border-radius: 40px;
	 
}

header .social a {
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	transition: all .7s;
}

header .social a:hover {
	background: #f9e79f;
	color: #e67e22;
}

#home {
	text-align: center;
	padding: 100px 0 100px;
}

#home h1 {
	font-size: 50px;
	font-weight: normal;
	line-height: 1;
	margin-bottom: 30px;
}

#home .divider {
	width: 80px;
	border-top: 5px solid #a6acaf;
	margin: 0 auto;
}

#home p {
	font-size: 25px;
	margin-top: 30px;
}

section img {
	width: 200px;
	border-radius: 50%;
}

#home .social {
	margin-top: 80px;
}

#home .social a {
	color: white;
	display: inline-block;
	border-radius: 50%;
	background-color: #a6acaf;
	font-size: 25px;
	font-weight: bold;
	height: 50px;
	width: 50px;
	line-height: 50px;
	margin-right: 10px;
	text-decoration: none;
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	transition: all .7s;
}

#home .social a:hover {
	background: #f9e79f;
	color: #e67e22;
}
#estudios .center {
	text-align: center;
}

#estudios .box {
	display: inline-block;
	text-align: center;
	width: 33%;
	padding: 10px;
}

#estudios .box p {
	color: #666;
	padding: 10px;
}

#experiencia .center {
	text-align: center;
}

#experiencia {
	background-color: whitesmoke;
}

#experiencia .box {
	background-color: white;
	display: inline-block;
	text-align: center;
	width: 31%;
	margin: 1%;
}

#experiencia .box img {
	background: red;
	width: 100%
}

#experiencia .box p {
	color: #666;
	padding: 10px;
}

#contacto {
	background-size: cover;
	background-color: #303030;
	background-image: url('../images/fondo-contacto.jpg');
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}

#contacto input {
	padding: 20px;
	width: 400px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#contacto textarea {
	margin: 20px 0;
	padding: 20px;
	width: 400px;
}

#contacto button {
	background-color: #a6acaf;
	padding: 20px 40px;
	border-color: #a6acaf;
	border-radius: 40px;
	color: white;
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
}

footer {
	padding: 60px 0;
	text-align: center;
	font-size: 10px;
}

section {
	padding: 80px 0; 
}

section h2 {
	font-size: 32px;
	text-align: center;
	margin-bottom: 80px;
}

.container {
	width: 992px;
	margin-left: auto;
	margin-right: auto;
}

